/*
Place your custom CSS here
*/
@import "Interval.css";
@import "Content.css";
@import "Task.css";


.GanttContent {
    display: flex;
    flex-flow: column;
    max-height: 83vh;
}

.ChartBody {

}

.ChartContent {
    position: relative;
    flex-direction: column;
    padding: 0 !important;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    max-height: 512px;
}

.TimeScale.ContentHeader {
    position: sticky;
    top: 0;
    height: 70px;
    background-color: white;
    z-index: 1;
}
.button-controls button{
    margin-right: 0.3em;
}