.ContentContainer {
    position: relative;
    min-height: 350px;
}

.ContentLayer {
    /*position: absolute;*/
    /*height: 100%;*/
}

.NodeContent {
    /*overflow-y: scroll;*/
    /*position: relative;*/
    /*min-height: 100%;*/
    /*height: auto;*/
}

.ScaleMarker {
    height: 100%;
    width: 1px;
    position: absolute;
    background: lightgray;
}

.Marker {
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
}

.SnapHelper {
    border-left: 3px orange dashed;
}


.Today {
    border-left: 3px greenyellow dashed;
}

