.CanvasContainer {
    width: 100%;
    height: 100%;
}

.Canvas {
    position: relative;
    height: 100%;
}

.CanvasLayer {
    position: absolute;
    width: 100%;
    height: auto;
}

.NodeContent {

}


.CanvasLayer {
    height: 100%;
}


.ScaleMarker {
    height: 100%;
    width: 1px;
    position: absolute;
    background: lightgray;
}

.Marker {
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
}

.SnapHelper {
    border-left: 3px orange dashed;
}


.Today {
    border-left: 3px greenyellow dashed;
}

