
.Interval {
    box-shadow: 1px 0 0 0 lightgray;
}
.Interval {
    box-shadow: none

}

.IntervalRow {
    display: flex;
    position: relative;
}

.IntervalCell {
    box-shadow: 1px 0 0 0 lightgray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
}
