.TaskBounds {
    position: relative;
    height: 70px;
}

.TaskWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
}

.TaskContainer {
    margin: auto auto;
    height: 63px;
    border-radius: 8px;
    width: calc(100% - 2px);

    display: flex;
    align-content: center;
    justify-content: center;
}